pip>=1.8
numpy>=1.11.0
configparser
scipy>=0.17.0
simplejson>=3.2.0
pint>=0.8
h5py
line_profiler
matplotlib>=2.0,<3.0
uncertainties
decorator
numba>=0.38
git+https://github.com/icecubeopensource/kde.git#egg=kde
