# Best fit values from NuFitv5.2 (without SK atmospheric data)
# Note that asymmetric Gaussian 1 sigma not currently implemented, so 1 sigma uncertainty not exact here

theta12 = 33.41 units.deg
theta12.3s_range = [31.31, 35.74] * units.deg

theta13_nh = 8.54 +/- 0.11 units.deg
theta13_nh.3s_range = [8.19, 8.89] * units.deg

theta13_ih = 8.57 +/- 0.11 units.deg
theta13_ih.3s_range = [8.23, 8.90] * units.deg

theta23_nh = 49.1 units.deg
theta23_nh.3s_range = [39.6, 51.9] * units.deg
theta23_nh.range = [38.0, 52.0] * units.deg

theta23_ih = 49.5 units.deg
theta23_ih.3s_range = [39.9, 52.1] * units.deg
theta23_ih.range = [38.0, 52.0] * units.deg

deltacp_nh = 197 units.deg
deltacp_nh.3s_range = [108,404] * units.deg
deltacp_nh.range = [0,360] * units.deg

deltacp_ih = 286 units.deg
deltacp_ih.3s_range = [192,360] * units.deg
deltacp_ih.range = [0,360] * units.deg

deltam21 = 7.41e-5 units.eV**2
deltam21.3s_range = [6.82e-5, 8.03e-5] * units.eV**2

# NuFit dm3l = dm31 for the normal ordering, so can directly use the NuFit value
deltam31_nh = 0.002511 units.eV**2
deltam31_nh_gauss = 0.002511 +/- 0.0000281 * units.eV**2
deltam31_nh.range = [0.001, 0.007] * units.eV**2
deltam31_nh.3s_range = [0.002428, 0.002597] * units.eV**2

# NuFit dm3l = dm32 for the inverted ordering (and is thus negative), so must convert using: dm31 = dm32 + dm21
deltam31_ih = -0.002424 units.eV**2
deltam31_ih_gauss = -0.002424 +/- 0.0000288 * units.eV**2
deltam31_ih.3s_range = [-0.002507, -0.002334] * units.eV**2
deltam31_ih.range = [-0.007, -0.001] * units.eV**2